html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    background-color: #f7f7f7;
    color: black;
}

p {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

h1, h3, h2 {
    margin: 0;
}

.cart {
    background: url('../icons/shopping-cart.svg') center center contain blue;
    background-size: cover;
}

.cart__link{
    display: block;
    width: 25px;
    height: 25px;
    background: url('../icons/shopping-cart.svg') center center contain blue;
    background-size: contain;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    flex: 0 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    background: #231f20;
    color: #fff;
}

footer a {
    color: #4169e1;
}

footer img{
    width: 150px;
}

footer .git-info{
    margin-top: 40px;
    min-height: 80px;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1160px;
    display: flex;
}

header {
    background: white;
    box-shadow: 0 8px 20px #0003;
}

header .container {
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid orange; */
    padding: 10px 20px;
    /* border-radius: 0 0 10px 10px; */
}

.banner {
    z-index: -1;
    position: relative;
    height: 300px;
    background: url("../images/hero-shop.webp") center -75px content-box;
}
.banner__name {
    color: #fff;
    line-height: .875;
    text-transform: none;
    text-shadow: 0px 3px 6px #00000029;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4em;
    margin-top: 170px;
}

.banner__line {
    width: 100%;
    position: absolute;
    bottom: -10px;
}

.bottom__wrapper {
    margin-top: 60px;
    z-index: -1;
    position: relative;
    height: 300px;
}

main .container {
    width: 1200px;
}

footer .container {
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
    border-radius: 10px 10px 0 0;
}

@media (max-width: 1440px) {
    .container {
        width: 940px;
    }
}

@media (max-width: 999px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 639px) {
    .container {
        width: 300px;
    }
}

.hidden {
    visibility: hidden;
}
