body {
    margin: 0;
    background-color: white;
    color: black;
}
p {
    margin: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    display: flex;
}
main .container {
    width: 1200px;
}
a {
    color: black;
    text-decoration: none;
}
h1, h3, h2 {
    margin: 0;
}


header .container {
    align-items: center;
    justify-content: space-between;
    border: 1px solid orange;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}
header .cart img{
    width: 25px;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .container {
    align-items: center;
    justify-content: space-between;
    border: 1px solid orange;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
}
footer img{
    width: 150px;
}
footer .git-info{
    text-align: center;
}

@media (max-width: 1440px) {
    .container {
        width: 940px;
    }
}

@media (max-width: 999px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 639px) {
    .container {
        width: 300px;
    }
}
