.container {
    justify-content: space-between;
}

.cart-lists {
    width: 70%;
    border: 1px solid orange;
    border-radius: 10px;
    height: fit-content;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid orange;
}

.cart-page button {
    border-radius: 50px;
    height: 25px;
    font-size: 1rem;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: orange;
    white-space: nowrap;
}

.cart-item-container {
    border-bottom: 1px solid orange;
}

.cart-item-container:last-of-type {
    border-bottom: none;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.item-id {
    width: 4%;
}

.item-info {
    display: flex;
}

.item-info img{
    display: block;
    width: 100px;
    margin-right: 15px;
}

.item-description .other {
    display: flex;
    justify-content: space-between;
}

.stock-info {
    text-align: center;
    width: 40%;
}

.item-num {
    margin-bottom: 10px;
}

.item-num button {
    border-radius: 50px;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: orange;
    white-space: nowrap;
}

.summary-data {
    width: 25%;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.sum-res {
    margin-bottom: 10px;
}

.sum-desc .total {
    font-size: 1.3em;
    margin-bottom: 10px;
}
.sum-desc .total-discount {
    font-size: 1.3em;
    margin-bottom: 20px;
    display: none;
}
.sum-desc .used-promo {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.sum-desc input[type="text"] {
    width: 70%;
    border: 1px solid orange;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
    outline: none;
    font-size: 100%;
    margin-bottom: 20px;
}

.sum-desc .promo-name {
    margin-bottom: 10px;
}

.sum-desc button {
    cursor: pointer;
    background: rgb(121, 121, 121);
    border: none;
    width: 100%;
    height: 54px;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.sum-desc button.active {
    background: orange;
}
.sum-desc button.active:hover {
    background: rgb(255, 187, 60);
}
.sum-desc .used-promo__info {
    display: flex;
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
}
.sum-desc .used-promo__info:last-child {
    border-bottom: none;
    margin-bottom: 10px;
}
.sum-desc .btn-del {
    background: red;
    width: auto;
    border-radius: 100%;
    margin-left: 10px;
}

.sum-desc .act-promo {
    margin-bottom: 20px;
}
