.container {
    justify-content: space-between;
}

.cart-lists {
    min-width: 905px;
    margin-right: 10px;
    border-radius: 10px;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 14px #0000001a;
}

.cart-item-container {
    border-bottom: 1px solid orange;
}

.cart-item-container:last-of-type {
    border-bottom: none;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.item-id {
    width: 4%;
}

.item-info {
    display: flex;
}

.item-info img{
    display: block;
    width: 100px;
    margin-right: 15px;
}

.item-description .other {
    display: flex;
    justify-content: space-between;
}

.card__wrapper {
    display: flex;
    text-align: center;
}

.card__interface {
    padding: 10px;
    min-width: 100px;
    background-color: #fff;
}

.card__button_add,
.card__button_put-away {
    border-radius: 50px;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: #ef6747;
    white-space: nowrap;
}

.summary-data {
    min-width: 20%;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.sum-res {
    margin-bottom: 10px;
}

.sum-desc .total {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.sum-desc input[type="text"] {
    width: 70%;
    border: 1px solid orange;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
    outline: none;
    font-size: 100%;
    margin-bottom: 20px;
}

.sum-desc button {
    cursor: pointer;
    background: orange;
    border: none;
    width: 100%;
    height: 54px;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sum-desc .act-promo {
    margin-bottom: 20px;
}

.button_cart-input {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    width: 30px;
    height: 30px;
    background: #231f20;
    color: #fff;
    border-radius: 2px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.button_cart-input:hover {
    transition: 0.3s;
    background: orange;
}

.display-and-buttons {
    display: flex;
}

.display-and-buttons_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#page-number,
#on-page {
    text-align: center;
    width: 30px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    margin-top: 10px;
    min-height: 300px;
}

.cart_no-items::after{
    position: absolute;
    content: "Cart is empty. Add something";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 14px #0000001a;
}

.page-interface {
    text-align: center;
}

.card__stock-display {
    margin-top: 80px;

}
