.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    border: 2px solid orange;
}
.modal-product .modal-content{
    background-color: unset;
    padding: 0;
    width: 60%;
    border-radius: 0;
    border: unset;
}

.modal-close-container {
    position: absolute;
    width: 60%;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 90%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.info-input {
    display: flex;
    margin-bottom: 35px;
}

.input-error {
    width: 50px;
    padding-left: 50px;
    color: red;
    display: none;
}

.group {
    position: relative;
    width: 100%;
}

.group:last-of-type {
    margin-top: 120px;
}

.group input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.group input:focus {
    outline: none;
}

.group label {
    color: black;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.group input:focus ~ label, .group input:valid ~ label  {
    top: -10px;
    font-size: 12px;
    color: orange;
}

.group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.group .bar::before, .group .bar::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: orange;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.group .bar::before {
    left: 50%;
}

.group .bar::after {
    right: 50%;
}

.group input:focus ~ .bar::before, .group input:focus ~ .bar::after {
    width: 50%;
}

.group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from { background: orange;}
    to { width: 0; background: transparent;}
}

@keyframes inputHighlighter {
    from { background: orange;}
    to { width: 0; background: transparent;}
}

.modal-info-container {
    display: flex;
}
.info-container {
    flex: 0 0 25vw;
}
.card-data-container {
    margin:auto;
    background: #c4c4c4;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-number {
    display: flex;
    padding-bottom: 20px;
}

.card-num-img {
    width: 50px;
    margin: 0 10px;
    height: 45px;
}

.card-number input {
    font-size: 14px;
    padding: 1px 1px 1px 5px;
    display: block;
    width: 150px;
    border: none;
    box-sizing: border-box;
    height: 30px;
    margin: auto;
}

.card-number input:focus {
    outline: none;
}

.card-other, .card-other-num {
    display: flex;
}

.card-other-num:first-of-type {
    margin-right: 10px;
}

.card-other-num input[type="text"] {
    width: 50px;
}

.card-other-num div {
    margin-right: 5px;
}

.card-other-num input {
    font-size: 14px;
    padding: 1px 1px 1px 5px;
    display: block;
    width: 100px;
    border: none;
    box-sizing: border-box;
}

.card-other-num input:focus {
    outline: none;
}

.order-btn {
    background: rgb(121, 121, 121);
    border: none;
    width: 100%;
    height: 54px;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.order-btn.active {
    background: orange;
    cursor: pointer;
}
