<template id="product-card">
  <div class="product-card-container">
      <a class="item__link" href="/">
      <div class="product-card">
          <div class="product-img"><img src="../../assets/images/red-dragon.jpg" alt="board game name"></div>
          <div class="product-description">
              <div class="name">Bobi story</div>
              <div class="small-di">it's story about Bobi</div>
          </div>
          <div class="add-cart">
              <button>
                  <img src="../../assets/icons/shopping-cart.svg" alt="cart">
                  151$
              </button>
          </div>
      </div>
      </a>
  </div>
</template>